body {
    font-family: Arial, sans-serif;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #8133b4; /* Лиловый */
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8133b4; /* Лиловый */
}

input, select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #8133b4; /* Лиловый */
    color: #ffffff; /* Белый */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-right-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #ffffff;
            color: #8133b4;
            border: 2px solid #8133b4;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
        }

.top-right-button:hover {
            background-color: #8133b4;
            color: #ffffff;
        }

button:hover {
    background-color: #57418e; /* Темно-лиловый */
}

p {
    margin-top: 20px;
    color: #333;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}