body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #4b2e83; /* Лиловый */
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #4b2e83; /* Лиловый */
}

input, select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #4b2e83; /* Лиловый */
    color: #ffffff; /* Белый */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #57418e; /* Темно-лиловый */
}

p {
    margin-top: 20px;
    color: #333;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}