<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Об авторе</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container_c">
        <h1>Об авторе</h1>
        <div class="author-info">
            <p>Автор: Пьянникова Елизавета Андреевна</p>
            <p>Группа: ПИН-231</p>
            <p>Факультет: ФИТИКС</p>
            <img src="../static/cat.jpg" alt="Хорошего всем настроения:3" style="max-width: 300px; margin-top: 20px;">
            <p class="good-vibes">Котик в подарок</p>
        </div>
        <a href="/" class="top-right-button">Обратно к вычислениям</a>
    </div>
</body>
</html>