<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Об авторе</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Об авторе</h1>
        <div class="author-info">
            <p>Автор: Пьянникова Елизавета Андреевна</p>
            <p>Группа: ПИН-231</p>
            <p>Факультет: ФИТИКС</p>
        </div>
    </div>
</body>
</html>