<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тригонометрические функции</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="container">
        <h1>Вычисление тригонометрических функций</h1>

        <form method="post">
            <label for="angle">Угол:</label>
            <input type="number" id="angle" name="angle" step="any" placeholder="Введите угол" value="{{ request.form.angle if request.form.angle }}" required>

            <label for="precision">Точность:</label>
            <input type="number" id="precision" name="precision" placeholder="Введите точность" value="{{ request.form.precision if request.form.precision }}" required>

            <label for="units">Единицы измерения:</label>
            <select id="units" name="units" required>
                <option value="">Выберите единицы измерения</option>
                <option value="degrees" {% if request.form.units == 'degrees' %}selected{% endif %}>Градусы</option>
                <option value="radians" {% if request.form.units == 'radians' %}selected{% endif %}>Радианы</option>
            </select>

            <button type="submit">Вычислить</button>
        </form>

        <a href="/about" class="top-right-button">Об авторе</a>

        {% if result %}
        <div>
            <h2>Результат:</h2>
            <table>
                <tr>
                    <th>Функция</th>
                    <th>Значение</th>
                    <th>Сокращение</th>
                </tr>
                <tr>
                    <td>Синус</td>
                    <td>{{ result.sin }}</td>
                    <td>sin</td>
                </tr>
                <tr>
                    <td>Косинус</td>
                    <td>{{ result.cos }}</td>
                    <td>cos</td>
                </tr>
                <tr>
                    <td>Тангенс</td>
                    <td>{{ result.tg }}</td>
                    <td>tan</td>
                </tr>
                <tr>
                    <td>Котангенс</td>
                    <td>{{ result.ctg }}</td>
                    <td>ctan</td>
                </tr>
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>
